{% from "bootstrap5/form.html" import render_form, render_field %} 
{% block content %}
{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="padding-top: 80px; padding-bottom: 0;">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>{{ page_title }}</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content -->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div style="padding: 5px;">
      <div style="padding-bottom: 2%;"><h4>Filtering Options</h4></div>
      <form method="POST">
        <div style="display: flex; justify-content: start; align-items: top;">
          <div style="flex: 1; padding: 5px;">
            {{ render_field(filtering_form.column) }}
          </div>
          <div style="flex: 2; padding: 5px;">
            {{ render_field(filtering_form.condition) }}
          </div>
          <div style="flex: 6; padding: 5px;">
            {{ render_field(filtering_form.input) }}
          </div>
          <div style="flex: 3; padding: 5px;">
            {{ render_field(filtering_form.logical_operator) }}
          </div>
          <div style="flex: 1; padding: 5px;">
            {{ render_field(filtering_form.add_filter) }}
          </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: top;">
          <div style="flex: 11; padding: 5px;">
            {{ render_field(filtering_form.queries) }}
          </div>
          <div style="flex: 1; padding: 5px;">
            {{ render_field(filtering_form.apply) }}
          </div>
        </div>
      </form>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p>{{ message | safe }}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    <table class="table">
      <thead>
        <tr>
          {% for column in columns %}
          <th>
            <div class="row">
              <div class="col-auto">
                {{ column.capitalize() }}
              </div>
              <div class="col-auto">
                <form method="POST" action="{{ url_for('new_users') }}">
                  <input type="hidden" name="sort_column" value="{{ column }}">
                  {% if sort_column == column %}
                  {% if sort_direction == 'asc' %}
                  <button type="submit" class="btn btn-primary btn-sm" name="sort_direction" value="desc">▲</button>
                  {% elif sort_direction == 'desc' %}
                  <button type="submit" class="btn btn-primary btn-sm" name="sort_direction" value="asc">▼</button>
                  {% endif %}
                  {% else %}
                  <button type="submit" class="btn btn-primary btn-sm" name="sort_direction" value="asc">—</button>
                  {% endif %}
                </form>
              </div>
            </div>
          </th>
          {% endfor %}
          {% if is_admin and not table.empty %}
          {% if table['status'].isin(['Pending']).any() %}
          <th scope="col">Position</th>
          <th scope="col">Is Admin</th>
          <th scope="col">Action</th>
          {% endif %}
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% if not table.empty %}
        {% for index, row in table.iterrows() %}
        <form method="POST" action="{{ url_for('create_new_user', new_user_id=row['id']) }}">
          <tr>
            {% for column in columns %}
            {% if loop.first %}
            <th scope="row">{{ row[column] }}</th>
            {% elif column == 'status' %}
            {% if row[column] == 'Denied' %}
            <td style="color: red;">{{ row[column] }}</td>
            {% elif row[column] == 'Approved' %}
            <td style="color: green;">{{ row[column] }}</td>
            {% else %}
            <td>{{ row[column] }}</td>
            {% endif %}
            {% else %}
            <td>{{ row[column] }}</td>
            {% endif %}
            {% endfor %}
            {% if is_admin and row.status == 'Pending' %}
            <td>
              <select name="position">
                {% for position in positions %}
                <option value="{{ position.id }}">{{ position.name }}</option>
                {% endfor %}
              </select>
            </td>
            <td><input type="checkbox" name="is_admin" value="True"> Admin</td>
            <td>
              <button type="submit" class="btn btn-primary" name="approval_status" value="Approved">Approved</button>
              <button type="submit" class="btn btn-danger" name="approval_status" value="Denied">Denied</button>
            </td>
            {% endif %}
          </tr>
        </form>
        {% endfor %}
        {% else %}
        <tr>
          <td>No new users found</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
    </div>
  </div>
</div>

{% include "footer.html" %} 
{% endblock %}
